<tr>
  <td style="width: auto;"><span type="form" name="person_position:start_date"></span></td>
  <td style="width: auto;"><span type="form" name="person_position:end_date"></span></td>
  <td style="width: auto;" colspan="3"><span type="form" name="person_position:position"></span></td>
  <td style="width: auto;"><span type="form" name="person_position:govt_order_number"></span></td>
  <td style="width: auto;"><span type="form" name="person_position:govt_order_date"></span></td>
  <td style="width: auto;"><span type="form" name="person_position:reason"></span></td>
  <td style="width: auto;"><span task="person_can_view_child_form_person_position"><span type="form" name="person:id" href="history?form=person_position&amp;show_edit&amp;order_by:person_position:-start_date&amp;id=" ifset="person_position:id"><img src="file/icon_edit.gif" width="28" height="20" alt="Update this Information"/></span></span></td>
  <td class="updateLink" style="width: auto;" permission="user(i2ce_admin)"><span type="form" name="person_position:id" href="person_position?delete=1&amp;id=" parent="true" onClick="return confirm('Are you sure you want to delete this?  It can not be undone. Not all users can perform this action!');"><img src="file/icon_delete.gif" width="28" height="20" alt="Delete this Information"/></span></td>
</tr>
