<div id="siteContent">
  <tbody id="person_form">
    <tr>
      <th colspan="2">Salary Breakdown Information</th>
    </tr>
    <tr id="list_fields">
      <td>
        <span type="form" name="person_monthly_salary:month" showhead="default"></span>
        <span type="form" name="person_monthly_salary:working_days" showhead="default"></span>
        <span type="form" name="person_monthly_salary:leave_days" showhead="default"></span>
        <span type="form" name="person_monthly_salary:transport_allowance" showhead="default"></span>
        <span type="form" name="person_monthly_salary:other_allowance" showhead="default"></span>
        <span type="form" name="person_monthly_salary:house_rent_deduction" showhead="default"></span>
        <span type="form" name="person_monthly_salary:interest_advance_deduction" showhead="default"></span>
        <span type="form" name="person_monthly_salary:gpf_advance_deduction" showhead="default"></span>
        <span type="form" name="person_monthly_salary:house_building_advance_deduction" showhead="default"></span>
        <span type="form" name="person_monthly_salary:service_tax_deduction" showhead="default"></span>
        <span type="form" name="person_monthly_salary:computer_advance_deduction" showhead="default"></span>
        <span type="form" name="person_monthly_salary:festival_advance_deduction" showhead="default"></span>
        <span type="form" name="person_monthly_salary:misc_recoveries_deduction" showhead="default"></span>
      </td>
      <td>
        <span type="form" name="person_monthly_salary:daily_salary" showhead="default"></span>
        <span type="form" name="person_monthly_salary:monthly_net_salary" showhead="default"></span>
      </td>
    </tr>
  </tbody>
</div>  
