<tbody id="person_form">
  <tr>
	<th colspan="2">Salary Breakdown Information</th>
  </tr>
  <tr id="list_fields">
	<td>
    	<span type="form" name="person_position_salarybreakdown:position_type" noedit="true" showhead="default"></span>
        <span type="form" name="person_position_salarybreakdown:setup_date" showhead="default"></span>
        <span type="form" name="person_position_salarybreakdown:empcode" showhead="default"></span>
        <span type="form" name="person_position_salarybreakdown:epfaccnum" showhead="default"></span>
        <span type="form" name="person_position_salarybreakdown:bankaccnum" showhead="default"></span>
    </td>
	<td>
        <span type="form" name="person_position_salarybreakdown:pannumber" showhead="default"></span>
        <span type="form" name="person_position_salarybreakdown:bankname" showhead="default"></span>
        <span type="form" name="person_position_salarybreakdown:branch" showhead="default"></span>
        <span type="form" name="person_position_salarybreakdown:branch_code" showhead="default"></span>
        <span type="form" name="person_position_salarybreakdown:ifsc" showhead="default"></span>
	</td>
  </tr>
  <tr>
	<th>Gross Pay</th><th>Salary Deductions</th>
  </tr>
  <tr>
	<td>
<span type="form" name="person_position_salarybreakdown:salaryarrear" showhead="default"></span>
<span type="form" name="person_position_salarybreakdown:otherarrear" showhead="default"></span>
<span type="form" name="person_position_salarybreakdown:basic_pay" showhead="default"></span>
<span type="form" name="person_position_salarybreakdown:eepf" showhead="default"></span>

	</td>
	<td>
	  <span type="form" name="person_position_salarybreakdown:tds" showhead="default"></span>
          <span type="form" name="person_position_salarybreakdown:epf" showhead="default"></span>
         <span type="form" name="person_position_salarybreakdown:professionaltax" showhead="default"></span>
         <span type="form" name="person_position_salarybreakdown:otherdeductions" showhead="default"></span>
	</td>
  </tr>
  <tr>
    <td>
      <span type="form" name="person_position_salarybreakdown:gross_salary" display="true" ifset="true" showhead="default"></span>
    </td>
    <td>
      <span type="form" name="person_position_salarybreakdown:net_salary_payable" display="true" ifset="true" showhead="default"></span>
    </td>
  </tr>
</tbody>
