<ul>
  <li task='can_set_monthly_salary'><a href="setmonthlysalary">Set Monthly Salary</a></li>
  <li><a href="print_salary_slips">Print Salary Slips</a></li>
  <li><a href="CustomReports/show/1432260225">Monthly Salary Report</a></li>
  <li><a href="CustomReports/show/1436550607">Regular Employees Salary Receipts</a></li>
  <li><a href="CustomReports/show/1436812146">Contract Employees Salary Receipts</a></li>
  <li><a href="CustomReports/show/1472621633">CTMIS Report(Regular Employees)</a></li>
  <li><a href="CustomReports/show/1472882193">PFMS Report(Contract Employees)</a></li>
  <li><a href="lists?type=working_days">Set Monthly Working Days</a></li>
  <li><a href="lists?type=annual_increment">Set Default Annual Increment</a></li>
</ul>
