<div id="list_display" class='recordsData' task="can_view_database_list_annual_increment">

	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_annual_increment'><span type="form" name="annual_increment:id" href="lists?type=annual_increment&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=annual_increment">Select another Year</a></li>
		</ul>
	</div> <!-- editRecord -->

	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Annual Increment</th>
		</tr>
		<span type="form" name="annual_increment:year" showhead="default"></span>
		<span type="form" name="annual_increment:percentage" showhead="default"></span>
		<span type="form" name="annual_increment:facility" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->

</div> <!-- list_display -->
