<div task='person_can_view_child_form_person_facility_transfer'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task='person_can_edit_child_form_person_facility_transfer'>
	<span type="form" ifset="person_facility_transfer:id" name="person_facility_transfer:id" href="person_facility_transfer?id=" parent="true">
	  Update this Information
	</span>
      </li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
	<tr>
	  <th colspan="2">Facility Transfer Information</th>
	</tr>
	<span type="form" name="person_facility_transfer:facility" showhead="default"></span>
	<span type="form" name="person_facility_transfer:transfer_log_date" showhead="default" class="even"></span>
	<span type="form" name="person_facility_transfer:transfer_status" showhead="default"></span>
      </tbody>
    </table>
  </div> <!-- dataTable -->
</div>
