<tbody>

  <tr>
    <td>
      <span type="form" name="training_history:from_date" showhead="default"></span>
      <span type="form" name="training_history:number_of_days" showhead="default"></span>
      <span type="form" name="training_history:training_name" showhead="default"></span>

    </td>
    <td>
      <span type="form" name="training_history:agency_name" showhead="default"></span>
      <span type="form" name="training_history:training_subject" showhead="default"></span>
      <span type="form" name="training_history:level_of_training" showhead="default"></span>
    </td>

  </tr>
</tbody>
