<div id="siteContent">
  <h1>View Reports</h1>
  <h2>Directory Reports</h2>
  <ul>
    <li><a href="CustomReports/show/1362040173">Staff Directory</a>
    -- A List of all Current Health Staff of the Government of Bihar.</li>
    <ul>
      <li><a href="district_staff/district">Staff Directory by District</a>
      -- A List of all staff by District.</li>
      <li><a href="district_staff/division">Staff Directory by Division</a>
      -- A List of all staff by Division.</li>
      <li><a href="district_staff/facility">Staff Directory by Facility</a>
      -- A List of all staff by Facility (Select Division, then District first).</li>
<li><a href="CustomReports/show/1371271716">Staff Directory by all other Departments</a>
    -- List of Employees in all other depatments.</li>

    </ul>
    <li><a href="CustomReports/show/1359004795">Doctor's Directory</a>
    -- A List of all Doctors of the Government of Bihar.</li>
   <li><a href="CustomReports/show/1360317614">Nurse's Directory</a>
    -- A List of all Nurses of the Government of Bihar.</li>
   <li><a href="CustomReports/show/1360574474">ANM Directory</a>
    -- A List of all ANMs of the Government of Bihar.</li>
   <li><a href="CustomReports/show/1360574515">Other Employees Directory</a>
    -- A List of all Other Employees of the Government of Bihar.</li>
  <li><a href="CustomReports/show/1428486249">Paramedics Directory</a>
    -- A List of all Paramedics of the Government of Bihar.</li>
   
</ul>
<h2>Standard Reports</h2>
  <ul>
<li><a href="CustomReports/show/1328075019">Deputation</a>
    -- A List of Deputed Health Staff.</li>
<li><a href="CustomReports/show/1378105081">Death Report</a>
    -- List of Employee Who Died in Service.</li>
<li><a href="CustomReports/show/summary">HR Summary Report</a>
    -- Summary of HR data by district and professional qualification.</li>
<li><a href="CustomReports/show/training_history">Training Summary</a>
    -- A List of all Employees who have taken trainings with the trainings taken.</li>

<li><a href="CustomReports/show/1403866114">Promotion and Posting</a>
    -- Promotion and Posting Details of all employee.</li>



<li><a href="CustomReports/show/1377777280">Retirement Planning</a>
    -- Employee Retiring Dates.</li>
<li><a href="CustomReports/show/1438686591">Retirement Planning for Regular Doctors</a>
    -- List of Regular Doctors Retiring dates.
<li><a href="CustomReports/show/1388652084">Leave/Discontinue Without Aproval</a>
    -- List of Employee Absent/on leave/Discontinue without Approval.</li>

<li><a href="CustomReports/show/1366616009">Current Posting Duration</a>
    -- A List Employees with their duration of current posting.

<li><a href="CustomReports/show/1367229538">Retirement Report</a>
    -- List of Employee Retired.

<li><a href="CustomReports/show/1376129799">Resignation Report</a>
    -- List Of Employee Resigned.



<li><a href="CustomReports/show/1376035284">Suspension/Termination Report</a>
    -- List of Suspendede/Terminated Employees.

<li><a href="CustomReports/show/1366956120">Transfer Report</a>
    -- List of Employees transferred.








   <!-- <li><a href="CustomReports/show/employee_profile">Employee's Record</a>
    -- Complete record of each employee of Government of Bihar.</li>-->

    <!--<li><a href="CustomReports/show/1344506794">Employee's Record Part 2</a>
    -- Complete record of each employee of Government of Bihar.</li>-->
   <!-- <li><a href="CustomReports/show/1320725820">ASHA/Mamta Directory</a>
    -- A list of ASHA/Mamta in Bihar</li>-->

   
    <li><a href="CustomReports/show/job_breakdown">Position Breakdown</a>
    -- Total Staff by Job Title/Designation.
   <!--<li><a href="CustomReports/show/specialty">Specialty</a>
    -- Specialty totals.-->
  
   <!-- <li><a href="CustomReports/show/contract_end">Contract Status</a>
    -- Contract Renewal/Termination Timeline for Each Individual Contract.</li>
<li><a href="CustomReports/show/reg_retirement_facility">Retirement Status</a>
    -<li><a href="CustomReports/show/contract_staff">List of all Contractual Health Staff</a>
    -- A List of all the Contractual Health Staff of the Government of Bihar.</li>
    <li><a href="CustomReports/show/reg_retirement">List of all Regular Health Staff</a>
    -- A List of all the Regular Health Staff of the Government of Bihar.</li>
- Regular Health Staff Retirement Status.</li>-->
<!--<li><a href="CustomReports/show/contract_planning">Contract Planning by Designation</a>
    -- Contract Staff Total by Contract Renewal/Termination Timeline.</li>-->
   <!-- <li><a href="CustomReports/show/reg_duration">Duration of Service</a>
    -- The Duration of Service for all Regular Health Staff. </li>-->
    <!--<li><a href="CustomReports/show/reg_retirement_designation">Retirement Planning by Designation</a>
    -- Total Number of Regular Staff Retiring at Different Designations.</li>-->    
    <!--<li><a href="CustomReports/show/reg_retirement_planning">Retirement Planning</a>
    -- Regular Health Staff Total by Retirement Timeline.</li>-->

    <li><a href="allinfo">Employee Profile (all fields)</a></li>
    <li><a href="http://hrisbih.cloudapp.net/index.php/allinfo/promotion?all=true">All Promotion and Posting</a></li>


  <!--<h2>Search</h2>
  <ul>
    <li><a href="CustomReports/show/search_people">Search People</a>
    -- Search all person records in the system.</li>-->
</ul>

<h2>Staff Transfer Management Reports</h2>
  <ul>
<li><a href="dashboard/staff_transfer">Transfers Dashboard</a>
    -- Combined reports for both incoming and outgoing transfers from this facility with an option to Accept/Deny an incoming transfer.</li>
<li><a href="CustomReports/show/incoming_transfer">Incoming Transfers</a>
    -- A List Staff that are in the process of being transfered to this facility.</li>
<li><a href="CustomReports/show/outgoing_transfer">Outgoing Transfers</a>
    -- A List Staff that are in the process of being transfered from this facility.</li>
</ul>

  <h2>Doctor's Reports</h2>
  <ul>
    <li><a href="CustomReports/show/1360679333">List of Specialist</a>
    -- A List of Specialist in Government of Bihar.</li> 
 
<li><a href="CustomReports/show/1368184355">Total Duration in a District Report</a>
    -- Total Continuous Duration in a District.</li></ul>
<h2>AYUSH Cadre Reports</h2>
<ul>
<li><a href="CustomReports/show/1371468897">State AYUSH Cadre</a>
    -- A List of State AYUSH cadre doctors.</li>

   <li><a href="CustomReports/show/1371469125">District AYUSH Cadre</a>
    -- A List of District AYUSH cadre doctors.</li>
   <li><a href="CustomReports/show/1371469079">AYUSH Medical Education</a>
    -- A List of AYUSH Medical Education cadre doctors.</li>
   <!--<li><a href="CustomReports/show/1349948049">Medical Education Cadre</a>
    -- A List of all Doctors Under Medical Education Cadre of the Government of Bihar.</li>-->


  </ul>

<h2>Other Cadre Reports</h2>
<ul>

<!--<li><a href="CustomReports/show/contract_staff">List of all Contractual Health Staff</a>
    -- A List of all the Contractual Health Staff of the Government of Bihar.</li>
    <li><a href="CustomReports/show/reg_retirement">List of all Regular Health Staff</a>
    -- A List of all the Regular Health Staff of the Government of Bihar.</li>
<li><a href="CustomReports/show/reg_duration">Duration of Service</a>
    -- The Duration of Service for all Regular Health Staff. </li>-->
 <li><a href="CustomReports/show/1371468984">District Health Services</a>
    -- A List of Doctors in District Health Services of the Government of Bihar.</li>
   <li><a href="CustomReports/show/1371469258">State Health Services</a>
    -- A List of Doctors in State Health Services of the Government of Bihar.</li>
   <li><a href="CustomReports/show/1369300389">Medical Education Cadre</a>
    -- A List of all Doctors Under Medical Education Cadre of the Government of Bihar.</li>


</ul>

</div>
