<tbody id="demographic">
  <tr>
    <th colspan="2">Demographic Information</th>
  </tr>
  <tr>
    <td>
      <span type="form" name="demographic:birth_date" showhead="default"></span>
      <span type="module" name="India-demographic" ifenabled="true">
        <span type="form" name="demographic:birth_location_village" showhead="default"></span>
       <!-- <span type="form" name="demographic:birth_location" showhead="default"></span>-->
      </span>
      <span type="form" name="demographic:gender" showhead="default"></span>
    </td>
    <td>
      <span type="form" name="demographic:marital_status" showhead="default"></span>
      <span type="form" name="demographic:dependents" showhead="default"></span>
      <span type="form" name="demographic:handicap" showhead="default"></span>
      <span type="module" name="India-caste" ifenabled="true">
        <span type="form" name="demographic:caste" showhead="default"></span>
      </span>
    </td>
  </tr>
</tbody>
