<tbody id="service_history2">
<tr>
    <th colspan="2">Promotion &amp; Posting Details (For Regular Employee Only)</th>
    
</tr>
<tr class="not_required">
	<td>
		<span type="form" name="service_history:from_date" showhead="default"></span>
		<span type="form" name="service_history:to_date" showhead="default"></span>
    <span type="form" name="service_history:facility" showhead="default"></span>
		<span type="form" name="service_history:district" showhead="default"></span>
  </td><td>
		<span type="form" name="service_history:job" showhead="default"></span>
    <span type="module" name="Bihar-service-history" ifenabled="true">
		  <span type="form" name="service_history:govt_order_number" showhead="default"></span>
		  <span type="form" name="service_history:govt_order_date" showhead="default"></span>
		  <span type="form" name="service_history:pos_change_reason" showhead="default"></span>
    </span>
  </td>
</tr>
</tbody>
