<tbody id="nominee_details">
<tr>
  <th colspan="2">Nominee Details (For Regular Employee Only)</th>
</tr>
<tr>
  <td>
    <span type="form" name="nominee_details:firstname" showhead="default"></span>
    <span type="form" name="nominee_details:middle_name" showhead="default"></span>
    <span type="form" name="nominee_details:surname" showhead="default"></span>
  </td>
  <td>
    <span type="form" name="nominee_details:relationship" showhead="default"></span>
    <span type="form" name="nominee_details:date_of_birth" showhead="default"></span>
  </td>
</tr>
</tbody>
