<tbody id="position">
  <tr>
    <th colspan="2">Position Information</th>
  </tr>
  <tr>
    <td>
      <span type="form" name="position:job" showhead="default" onchange="if ( document.getElementById('forms[position][0][0][fields][title]').value == '' &amp;&amp; this.selectedIndex != 0 ) document.getElementById('forms[position][0][0][fields][title]').value = this.options[this.selectedIndex].text;" display_style="asha"></span>
      <span type="form" name="position:title" showhead="default"></span>
      <span type="form" name="position:code" showhead="default"></span>
    </td><td>
      <span type="form" name="position:facility" showhead="default"></span>
      <span type="form" name="position:department" showhead="default"></span>
      <span type="form" name="position:pos_type" showhead="default"></span>
    
    </td>

  </tr>
</tbody>
