<tbody id="transfer_history">
  <tr>
    <th colspan="2">Transfer History Information</th>
  </tr>
  <tr>
    <td>
      <span type="form" name="transfer_history:from_date" showhead="default"></span>
      <span type="form" name="transfer_history:to_date" showhead="default"></span>
      <span type="form" name="transfer_history:job" showhead="default"></span>
      <span type="form" name="transfer_history:facility" showhead="default"></span>
    </td>
    <td>
      <span type="form" name="transfer_history:district" showhead="default"></span>
      <span type="form" name="transfer_history:govt_order_number" showhead="default"></span>
      <span type="form" name="transfer_history:govt_order_date" showhead="default"></span>
      <span type="form" name="transfer_history:govt_order_authority" showhead="default"></span>
      <span type="form" name="transfer_history:status" showhead="default"></span>
    </td>
  </tr>
</tbody>
