<tbody id="person">
  <tr>
    <th colspan="2">Person Details</th>
  </tr>
  <tr>
    <td>
      <span type="module" name="India-person-title" ifenabled="true">
        <span type="form" name="person:person_title" showhead="default"></span>
      </span>
      <span type="form" name="person:firstname" showhead="default"></span>
      <span type="form" name="person:othername" showhead="default"></span>
      <span type="form" name="person:surname" showhead="default"></span>
      <span type="form" name="person:surname_ignore" ifset="surname_ignore"></span>
    </td>
    <td>
      <span type="form" name="person:nationality" showhead="default"></span>
      <span type="form" name="person:residence_village" showhead="default"></span>
      <span type="form" name="person:residence_thana" showhead="default"></span>
      <span type="form" name="person:perm_residence" showhead="default"></span>
    </td>
  </tr>
</tbody>
