<tbody id="husband_info">
  <tr>
    <th colspan="2">Husband's/Wife's Details</th>
  </tr>
  <tr class="not_required">
    <td>
      <span type="form" name="family_details:relationship" showhead="default" display_style="spouse"></span>
      <span type="form" name="family_details:firstname" showhead="default"></span>
      <span type="form" name="family_details:middlename" showhead="default"></span>
      <span type="form" name="family_details:surname" showhead="default"></span>
    </td>
    <td>
      <span type="form" name="family_details:spouse_employee" showhead="default"></span>
      <span type="form" name="family_details:spouse_doctor" showhead="default"></span>
      <span type="form" name="family_details:spouse_facility" showhead="default"></span>
    </td>
  </tr>
</tbody>
