<tbody id="position">
  <tr>
    <th colspan="2">Position Information</th>
  </tr>
  <tr>
    <td>
      <span type="form" name="position:job" showhead="single_entry" onchange="this.form['forms[position][0][0][fields][title]'].value = this.options[this.selectedIndex].text;" display_style="not_asha"></span>
      <span type="form" name="position:title"></span>
      <span type="form" name="position:department" showhead="default"></span>
    </td><td>
      <span type="form" name="position:facility" showhead="single_entry"></span>
      <span type="form" name="position:pos_type" showhead="default"></span>
    
    </td>

  </tr>
</tbody>
