<tbody>
<tr>
    <th colspan="2">Appointment Details</th>
</tr>
<tr id="list_fields">
	<td>
      <span type="module" name="Bihar-joining-job" ifenabled="true">
        <span type="form" name="joining_job:ad_hoc_date" showhead="default"></span>
      </span>
	   	<span type="form" name="joining_job:date_of_joining" showhead="default"></span>
	   	<span type="form" name="joining_job:job" showhead="default"></span>
	   	<span type="form" name="joining_job:retirement_date" showhead="default"></span>
    </td><td>
      <span type="module" name="Bihar-joining-job" ifenabled="true">
        <span type="form" name="joining_job:confirmation_date" showhead="default"></span>
        <span type="form" name="joining_job:confirmation_order_number" showhead="default"></span>
        <span type="form" name="joining_job:confirmation_order_date" showhead="default"></span>
        <!--<span type="form" name="joining_job:nature_of_employment" showhead="default"></span>-->
      </span>
    </td>
</tr>
</tbody>
