<div id="siteContent">
<p>
<strong>DISCLAIMER</strong>
</p>
<p>
Every effort has been made to ensure accuracy of Health Employees Data. 
However these need to be verified by and supplemented with documents issued finally by the concerned authorities.
Department of Health, Govt. of Bihar/State Health Society, Bihar will not be responsible for any decision or claim
that is based on the basis of displayed data. This Disclaimer is valid for all records/pages on website of Department of Health, 
Govt. of Bihar/State Health Society, Bihar.  
</p>

<a href="../NB-04-16-09-2013.pdf"><h3><mark>To know how to check , print &amp; follow the process of correction,Click Here</mark></h3></a>
  <div task="person_can_edit">
    <div style="height: 50px; overflow-y: auto;">
      <h2><span type="module" call="Bihar-position-lock->displayLocked()"></span></h2>
    </div>

    <h2><a href="data_entry?type=default" class="updateRecords">Add Person</a></h2>
    <p>
    Add a new employee record to the system using a single data entry form.
    </p>
  <!--
  <hr />
  <h2><a href="data_entry?type=asha" class="updateRecords">ASHA/Mamta Data Entry</a></h2>
  <p>
  Add a new ASHA/Mamta employee record to the system using a single long data entry form.
  </p>
  -->
  <!--
  <hr />
<h2><a href="person" class="updateRecords">Add People</a></h2>
<p>
Add a new employee <span type='module' name='ihris-manage-Application' ifenabled='true'>or applicant </span>record 
to the system, and search for and update records that have been entered into the system. 
<span type='module' name='ihris-manage-Application' ifenabled='true'>
Also complete job applications for 
open positions, review completed applications and assign a position to the successful 
applicant. </span>
</p>
-->
  </div>
<span type='module' name='CustomReports' ifenabled='true'>
  <div task='custom_reports_can_access'>
    <hr />

    <h2><a href="search" class="searchRecords">Search Records</a></h2>
    <p>
      Locate any employee or position record in the system to review, print or update. 
    </p>
  </div>



  <div task='custom_reports_can_view_reportViews'>
    <hr />
    
    <h2><a href="report_list" class="searchRecords">View Reports</a></h2>
    <p>
      Reports enable analysis of human resource data in various ways. Customize, display 
      and print staff lists, statistical charts and other standard reports. 
    </p>
  </div>
</span>

<span type="module" name="Bihar-Payroll" ifenabled='true'>
  <div role="admin" task='can_set_employee_monthly_salary' >
    <hr />
    <h2><a href="setmonthlysalary" class="adminDatabase">Payroll Functions</a></h2>
    <p>
      Set employees monthly salaries and print pay slips
    </p>
  </div>
</span>

<div task='can_configure_system'>
  <hr />
  
  <h2><a href="configure" class="adminDatabase">Configure System</a></h2>
  <p>
    Configure modules, administer positions, customize drop down menus and create or update user accounts.
  </p>
</div>

<span type="module" call="ihris-manage-bihar->addUserTemplate()" class="index"></span>


<div task="can_change_own_password">
  
<hr />
<h2><a href="password">Change Password</a></h2>
</div>

</div>
