<tr task='person_can_view_child_form_demographic'>
  <td style="width: auto;">
    <span type="form" name="demographic:birth_date"></span>
  </td>
<!--  <td style="width: auto;">
    <span type="form" name="demographic:birth_location_village"></span>
  </td>
  <td style="width: auto;">
    <span type="form" name="demographic:birth_location"></span>
  </td> -->
  <td style="width: auto;">
    <span type="form" name="demographic:gender"></span>
  </td>
  <td style="width: auto;">
    <span type="form" name="demographic:marital_status"></span>
  </td>
  <td style="width: auto;">
    <span type="form" name="demographic:dependents"></span>
  </td>
  <td style="width: auto;">
    <span type="form" name="demographic:handicap"></span>
  </td>
  <td style="width: auto;">
    <span type="form" name="demographic:caste"></span>
  </td>
<td style="width: auto;">
    <span type="form" name="demographic:minorities"></span>
  </td>

  <td class="updateLink" style="width: auto;" task='person_can_edit_child_form_demographic'>
      <span type="form" ifset="demographic:id" name="demographic:id" href="demographic?id=" parent="true">
        <img src="file/icon_edit.gif" width="28" height="20" alt="Update this Information" />
      </span>
  </td>
</tr>
