<tr task='person_can_view_child_form_person_id'>
  <td style="width: auto;">
      <span type="form" name="person_id:id_type"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="person_id:id_num"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="person_id:issue_date"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="person_id:expiration_date"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="person_id:country"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="person_id:place"></span>
  </td>
  <td class="updateLink" style="width: auto;" task='person_can_edit_child_form_person_id'>
    <span type="form" name="person_id:id" href="person_id?id=" parent="true" ><img src="file/icon_edit.gif" width="28" height="20" alt="Update this Information" /></span>
  </td>
  <td class="updateLink" style="width: auto;" task='person_can_delete_child_form_person_id'>
    <span type="form" name="person_id:id" href="person_id?delete=1&amp;id=" parent="true" onClick="return confirm('Are you sure you want to delete this? It can not be undone.');"><img src="file/icon_delete.gif" width="28" height="20" alt="Delete this Information" /></span>
  </td>
</tr>
