<tr task='can_view_person_disciplinary_actions'>
  <td style="width: auto;">
      <span type="form" name="disciplinary_action:disciplinary_action_type"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="disciplinary_action:disciplinary_action_reason"></span>
  </td>
  <td style="width: auto;">
      <span type='form' name="disciplinary_action:action_date"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="disciplinary_action:start_date"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="disciplinary_action:end_date"></span>
  </td>
  <td style="width: auto;">
      <span type='form' name="disciplinary_action:persons_present"></span>
  </td>
  <td style="width: auto;">
      <span type='form' name="disciplinary_action:notes"></span>
  </td>
  <td style="width: auto;" task='can_edit_person_disciplinary_actions'>
	  <span  type="form" name="disciplinary_action:id" href="disciplinary_action/editAction?id=" parent='true'>
      <img src="file/icon_edit.gif" width="28" height="20" alt="Correct this Information" />
	  </span>
  </td>
</tr>
