<tbody id="person_form" task='person_can_edit_child_form_vrs'>
  <tr>
    <th colspan="2">Add Leave/Discontinue </th>
  </tr>
  <tr id="list_fields">
    <td>
      <span type="form" name="vrs:request_type" showhead="default"></span>
      <span type="form" name="vrs:application_date" showhead="default"></span>
      <span type="form" name="vrs:vrs_approval_date" showhead="default"></span>
    </td>
    <td>     
      <span type="form" name="vrs:vrs_approval_number" showhead="default"></span>
      <span type="form" name="vrs:start_date" showhead="default"></span>
      <span type="form" name="vrs:end_date" showhead="default"></span>
    </td>
  </tr>
</tbody>
