<div  task='person_can_view_child_form_vrs'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li  class="updateLink" task='person_can_edit_child_form_vrs'><span type="form" name="vrs:id" href="vrs?id="  parent="true">Correct this Information</span></li>
     
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
	<th colspan="2">Leave/Discontinue</th>
      </tr>
      <span type="form" name="vrs:request_type" showhead="default"></span>     
      <span type="form" name="vrs:application_date" showhead="default"></span>
      <span type="form" name="vrs:vrs_approval_date" showhead="default" class="even"></span>
      <span type="form" name="vrs:vrs_approval_number" showhead="default"></span>
      <span type="form" name="vrs:start_date" showhead="default"></span>
      <span type="form" name="vrs:end_date" showhead="default"></span>
    </table>
  </div> <!-- dataTable -->
</div>
