<div id="siteContent">
    <h1>Search Records</h1>

    <h2>Quick Search</h2>
    <p>Type in the person ID to go directly to that record</p>
    <div id="error"></div>
    <form method="POST">
    <table class="multiFormTable" border="0" cellspacing="0" cellpadding="0">
      <tr><td style="background-color: #FFFFFF;">
          <input name="id" id="person_id" /> 
          <input type="submit" class="button" value=" Go " />
      </td></tr>
    </table>
    </form>
    <div id="search_reports" />
    
</div>
