<div  task='person_can_view_child_form_death'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li  class="updateLink" task='person_can_edit_child_form_death'><span type="form" name="death:id" href="death?id="  parent="true">Correct this Information</span></li>
     
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
	<th colspan="2">Death</th>
      </tr>
      <span type="form" name="death:death_date" showhead="default"></span>
      <span type="form" name="death:other_details" showhead="default"></span>
    </table>
  </div> <!-- dataTable -->
</div>
