<div id="list_display" class='recordsData' task="can_view_database_list_division">
	
	<div class="editRecord">
	<p>Edit This Information</p>
		<ul>
			<li task='can_edit_database_list_division'><span type="form" name="division:id" href="lists?type=division&amp;id=" >Update this Information </span></li>
			<li><a href="lists?type=division">Select another Division</a></li>
		</ul>
	</div> <!-- editRecord -->
	
	<div class="dataTable">
	<table border="0" cellspacing="0" cellpadding="0">
		<tr>
			<th colspan="2">Division</th>
		</tr>
		<span type="form" name="division:name" showhead="default"></span>
		<span type="form" name="division:region" showhead="default"></span>
	</table>
	</div> <!-- dataTable -->
	
</div> <!-- list_display -->
