<tbody id="person_form" task='section_num_can_edit_service_matter'>
  <tr>
    <th colspan="2">Add Service Matter Details </th>
  </tr>
  <tr id="list_fields">
    <td>
      <span type="form" name="service_matter:section_num" showhead="default"></span>
      <span type="form" name="service_matter:section_details" showhead="default"></span>
      <span type="form" name="service_matter:file_initiative_date" showhead="default"></span>
      <span type="form" name="service_matter:file_num" showhead="default"></span>
      <span type="form" name="service_matter:file_subject" showhead="default"></span>
      <span type="form" name="service_matter:lettersent_section_num" showhead="default"></span>
    </td>
    <td>     
      <span type="form" name="service_matter:file_close_date" showhead="default"></span>
      <span type="form" name="service_matter:file_closed_section_number" showhead="default"></span>
      <span type="form" name="service_matter:government_order_num" showhead="default"></span>
      <span type="form" name="service_matter:government_order_date" showhead="default"></span>
      <span type="form" name="service_matter:remarks" showhead="default"></span>
    </td>
  </tr>
</tbody>
