<tr  task='section_num_can_view_service_matter'>
  <td style="width: auto;">
      <span type="form" name="service_matter:file_movement_date"></span>
  </td>
<td style="width: auto;">
      <span type="form" name="service_matter:section_num"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="service_matter:section_details"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="service_matter:file_initiative_date"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="service_matter:file_num"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="service_matter:file_subject"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="service_matter:lettersent_section_num"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="service_matter:file_close_date"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="service_matter:file_closed_section_number"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="service_matter:government_order_num"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="service_matter:government_order_date"></span>
  </td>
  <td style="width: auto;">
      <span type="form" name="service_matter:remarks"></span>
  </td>
  <td class="updateLink" style="width: auto;" task='section_num_can_change_service_matter'>
    <span type="form" name="service_matter:id" href="service_matter?id="  parent="true">
      <img src="file/icon_edit.gif" width="28" height="20" alt="Update this Information" />
    </span>
  </td>
  <td style="width: auto;" class="updateLink" task='person_can_delete_child_form_service_matter'>
    <span type="form" name="service_matter:id" href="service_matter?delete=1&amp;id="  parent="true" onClick="return confirm('Are you sure you want to delete this?  It can not be undone.');">
      <img src="file/icon_delete.gif" width="28" height="20" alt="Delete this Information" />
    </span>
  </td>
</tr>
