<tbody id="list_fields">
  <tr>
    <td class="formdata_wide">
      <span type="form" name="position_lock:name" showhead="default"></span>
      <span type="form" name="position_lock:role" showhead="default"></span>
      <span type="form" name="position_lock:geo_level" showhead="default"></span>
      <span type="form" name="position_lock:job" showhead="default"></span>
      <span type="form" name="position_lock:lock_type" showhead="default"></span>
      <span type="form" name="position_lock:enabled" showhead="default"></span>
     </td>
  </tr>
</tbody>
